.col {width: 200px; border:1px solid silver; padding:5px; float: left;}
td.step {width: 200px;height: 200px; overflow: hidden; padding: 5px;}
div.step {width: 100%;height: 100%;}
#scroll {width: 100%;max-width: 100%;height: 100%; overflow:scroll;}
#container {width: 100vw; max-width: 100vw !important; flex: none;}
#maintable {
  table-layout: fixed;
  border-collapse: collapse;
  width: 1800px;
}
.stepName {
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nowrap1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stepContainer {
    width: 100%;
    height: 100%;
    border-width: 2px;
    /*border-radius: 25px*/
}
.flexcard {
    display: flex;
    flex-direction: column;
}
.stepFilled {
}
.stepEmpty {
    border-style: dashed;
    border-color: #ddd;
    /*border-radius: 25px*/
}
/* Vuetify Hacks */
.v-card__title {background-color: #1565c0; color: white;}